.hero-section {
    min-height: calc(100vh - 50px);

    background-size: 200% 200%;

    background-image: 
        linear-gradient(
            to bottom,
            #fcfcfc00,
            #fcfcfc55,
            #fcfcfcaa,
            #fcfcfcff
        ),
        radial-gradient(
            circle at 10%,
            #ff725e,
            transparent
        );
    animation: 4s linear infinite alternate hero-gradient;
}

.container-limiter {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: clamp(1rem, 3vw, 2rem);

    max-width: var(--max-width-container);
    min-height: calc(100vh - 50px);
    margin: 0 auto;
    padding: 0 20px;

    flex-wrap: wrap;
}

.banner-principal {
    flex: 1 1 500px;
    display: flex;
    justify-content: center;
}

.banner-principal img{
    order: 1;
    width: 100%;
    max-width: 500px;
    height: auto;
}

.texto-principal {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: clamp(10px, 2vw, 20px);
    margin: -60px auto 0;
    width: 500px;
    max-width: 100%;
}

.texto-principal h2 {
    margin-top: 0;
    font-size: clamp(1.8rem, 4vw, 2rem);
    font-weight: 700;
}

.botoes {
    display: flex;
    gap: clamp(8px, 1.5vw, 12px);
    width: 100%;
    
}

/*Clinica*/

.lista-servicos li {
    list-style: none;
    margin-bottom: 0.5rem;
}

.lista-servicos li::before {
    content: "\2705";
    display: inline-block;
    margin-right: 1rem;
}

.clinica-section .container-limiter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.clinica-section img {
    order: 2;
    flex: 1 1 500px;
    width: 100%;
    max-width: 500px;
}

.clinica-section .content-text {
    order: 1;
    flex: 1 1 500px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: clamp(10px, 2vw, 20px);
    max-width: 500px;
}

/*Farmácia*/
.farmacia-section .container-limiter {
    flex-direction: column;
}

.farmacia-section .content-text {
    text-align: center;
    width: 700px;
    max-width: 100%;
}

.farmacia-section .container-limiter img {
    width: 100%;
    max-width: 600px;
    height: auto;
}

/*Dúvidas*/
.duvidas-section .container-limiter {
    align-items: flex-start;
    justify-content: center;
}

.duvidas-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 500px;
    max-width: 100%;
}

.duvida {
    border: 1px solid var(--primary-color);
    border-radius: 4px;
}

.duvida h3, .duvida p {
    font-size: 0.8rem;
    margin: 0;
}

.duvida-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--primary-color);
    padding: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.duvida-title img {
    width: 16px;
}

.duvida-title:hover {
    background-image: linear-gradient(to right, var(--primary-color) 0%, transparent 75%);
}

.resposta {
    padding: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s;
}

.duvida.ativa .resposta {
    padding: 16px;
    height: fit-content;
    opacity: 1;
}

@media (max-width: 1130px) {

    .botoes {
        justify-content: center;
    }

      .clinica-section .container-limiter {
        flex-direction: column;
    }

    .clinica-section img {
        order: 1;
    }

    .clinica-section .content-text {
        order: 2;
    }

    .duvidas-container {
    width: 100%;
    max-width: 800px;

    }
}

@media (max-width: 500px) {

    .botoes {
        flex-direction: column;
        width: 100%;
    }

    .botoes a {
        text-align: center;
    }
}

@keyframes hero-gradient {
    0% {
        background-position: 0% 25%;
    }

    25% {
        background-position: 50% 50%;
    }

    50% {
        background-position: 100% 75%;
    }

    75% {
        background-position: 50% 50%;
    }

    100% {
        background-position: 0% 25%;
    }
}