:root {
  --primary-color: #ff725e; /** cor primária */
  --text-color: #263138; /** cor do texto */
  --line-height: 1.5; /** espaçamento entre linhas */
  --margin-text: 2rem; /** margem a ser aplicada em elementos de texto */
  --max-width-container: 1200px; /** largura máxima dos contêineres de conteúdo */
  --primary-color-hover: #ff4128; /** cor de elementos primários ao passar o mouse por cima */
  --border-radius: 8px; /** cantos arredondados **/
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    color: var(--text-color);

    min-height: 100vh;
     background-image: linear-gradient(
        to bottom,
        var(--primary-color) 0%,
        #ffb9ad 20%,
        #ffe2dc 40%,
        #fff3f1 60%,
        white 100%
    );
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px clamp(26px, 4vw, 50px);
    gap: clamp(10px, 2vw, 30px);

    background-color: var(--primary-color);
}

#menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-underline-offset: 4px;
    transition: all 0.3s;
    white-space: nowrap;
}

.nav-links a:hover {
    text-decoration: underline;
    text-underline-offset: 6px;
}

.botoes a{
    white-space: nowrap;
    border-radius: var(--border-radius);
    display: inline-block;
    padding: clamp(8px, 1.5vw, 10px) clamp(12px, 2vw, 20px);
    text-decoration: none;
    transition: all 0.3s;
}

.btn-1 {
    background-color: var(--primary-color);
    color: white;
}

.btn-2 { 
    background-color: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.btn-1:hover {
    background-color: var(--primary-color-hover);
}

.btn-2:hover {
    background-color: #fff;
}

@media (max-width: 1079px) {

    .nav-links {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 700px) {

    header {
        position: relative;
        flex-direction: row;
        align-items: center;
    }

    .menu-icon {
        display: block;
    }

    .navbar {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--primary-color);
    }

    #menu-toggle:checked ~ .navbar {
        display: block;
}

    .nav-links {
        
        justify-content: flex-start;
        padding-bottom: 15px;
        margin-left: 25px;
          
    }
}